@import "tailwindcss";

@theme {
  --font-lato: var(--font-lato);
  --color-fire: #ed3a12;
  --color-ice: #6bbbed;
  --color-lightning: #c460e6;
  --color-wind: #42d16e;
  --color-physical: #c3c3c3;
  --color-quantum: #3f39ea;
  --color-imaginary: #efe144;
}

:root {
  --background: #000000;
  --foreground: #ffffff;
  color-scheme: dark;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-lato), Arial, Helvetica, sans-serif;
  min-height: 100vh;
}
